.form-hint {
    color: #747474;    
}

input {
    margin-top: 8px;
}

input.form-error {
    border: solid 2px #c00;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    left: -999em;
}

.icon-svg {
    height: 1.8rem;
    width: 1.8rem;
    vertical-align: middle;
}


h1, thead, p {
    color: #424242;
}

.btn-primary {
    background-color: #066893;
    border-color: #066893;
}

.btn-outline-primary {
    color: #066893;
    border-color: #066893;
}

/* hack to supres events from svg icons in menubar... prevents reloads -> speed...*/
svg {
    pointer-events: none;
}